.main{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgb(47, 46, 46);
    margin-top: 2px;
}
.lang{
    display: flex;
    column-gap: 20px;
    padding: 20px 40px;
}
.lang p{
    color: rgb(109, 106, 106);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.lang p:hover{
    color: white;
}
.Bmwlist{
    display: flex;
    column-gap: 90px;
}

.headlist{
    color: white;
    font-weight: bold;
    font-size: 19px;
    border-bottom: 1px solid rgb(176, 173, 173);
    list-style-type: none;
    padding-bottom: 5px;
    margin-bottom: 14px;
}

ul li{
    color: rgb(137, 134, 134);
    list-style-type: none;
    margin-bottom: 5px;
}
ul li:hover{
    color: white;   
}

.copyright p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid rgb(176, 173, 173);
    padding-top: 20px;
    
}