.secondPart{
    display: flex;
    height: 890px;
    /* border: 2px solid red; */
}

.first{
    width: 50%;
    background-image: url('../../assets/first.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
        
}

.second{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/second.webp');
    background-repeat: no-repeat;
    background-size: cover;
        
}
.firstpara{
    width: 80%;
}
@media only screen and (max-width:770px){
    .image{
        margin-top: -110px;
        height: 550px;
        width: 100%;
    }
    
    .image img{
        width: 100%;
        height: 400px;
    }
    
}
@media only screen and (max-width:450px)
{
    .image{
        margin-top: -100px;
        width: 100%;
        height: 500px;
    }
    
}
